.sobre-top{
    display: flex;
    justify-content: flex-end;
    padding: 8px 8px 0 0;
}

.name-about{
    font-family: 'Piedra',cursive;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
h1{
    margin: 0 0 30px 0;
}
.info-about{
    background-color: #0E0E0E;
}