.dropdownTips{
    background-color: #cccccc;
    width: 550px;
    height: 550px;
    border-radius: 25px 0 25px 25px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    transition: .3s;
}
.dropdownTips p{
    display: flex;
    align-items: center;
    font-family: 'Piedra',cursive;
    font-size: 32px;
    text-align: center;
    color: black;    
}

.dropdownTips img{
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 15%;
    padding: .5% .5% 0 0;
    transition: .7s;
}
.dropdownTips img:hover{
    scale: .8;
    transition: 1s;
}

.dropdownTips.show{
    opacity: 1;
    pointer-events: all;
}