*, *:after, *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
:root{
    color: white;
}
.name-logo{
    font-family: 'Piedra',cursive;
    font-size: 56px;
}
h1{
    margin: 15px 0 30px 0;
}
.level-name{
    font-family: 'Petrona', serif;
    font-weight: bold;
    font-size: 48px;
}

.level-text{
    font-family: 'Petrona', serif;
    font-size: 40px;
    padding: 0 10% 0 10%;
}
.decif{
    font-family: 'Piedra', cursive;
}
.volta{
    font-family: 'Piedra', cursive;
}
.button{
    font-family: 'Piedra', cursive;

}
h2, h3{
    font-family: 'Piedra',cursive;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}