:root{
    color: white;
}
.name-logo{
    font-family: 'Piedra',cursive;
    font-size: 40px;
}
h1{
    margin: 15px 0 30px 0;
}
.level-name{
    font-family: 'Petrona', serif;
    font-weight: bold;
    font-size: 32px;
}

.text{
    font-family: 'Petrona', serif;
    font-size: 24px ;
}
.decif{
    font-family: 'Piedra', cursive;
}
.button{
    font-family: 'Piedra', cursive;

}