.name-logo{
    text-align: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    text-align: center;
}
.main-content-about{
    display: flex;
    justify-content: space-evenly;
}


